.line-right {
  height: 500px;
  width: 50px;
  transform: rotate(175deg);
  border-right: 2px solid gray;
  margin-right: 20px;
}

.line-left {
  height: 500px;
  width: 50px;
  transform: rotate(5deg);
  border-right: 2px solid gray;
  margin-left: 20px;
}

.line-straight {
  max-width: 1px;
  height: 500px;
  border-right: 1px solid black;
  margin: 0 auto;
}

